.input-buttons{
  display: flex;
  justify-content: space-between;
}

.input-buttons input{
  padding: 1%;
  width: 50%;
}

.upload-button,
.clear-button {
  border-radius: 0.5rem;
  background-color: var(--naval-blue-color);
  color: white;
  font-weight: 450;
  font-family: 'Roboto', sans-serif;
  border-style: none;
  font-size: 1.2rem;
  height: 100%; 
  padding: 1%;
}



@media screen and (width >= 780px) {
  .input-buttons{
    flex-direction: row;
    align-items: center;
  }
  
}
