.contenedor-input-search {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .search-input-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center; 
  }

  .search-title{
    font-size: 1.2rem;
    font-weight: 600;
  }
  .search-select-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
  }
  .search-iqms{
    display: flex;
    flex:2;
    flex-direction: row;
  }
  .search-select-label {
    margin-bottom: 2%;
    font-weight: 600;
    font-size: 0.9rem;
  }

  .search-select {
    padding: 8px;
  }

  .search-label-input{
    display: flex;
    flex: 2;
    flex-direction: column;
    margin-right: 2%;
    margin-bottom: 10px;
  }
  .search-label{
    font-size: 0.8rem;
    font-weight: 600;
  }
  
  .catalogo-input {
    flex: 2;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding: 1.2%;
    margin-right: 2%;
    font-size: 0.9rem;
  }
  
  .search-button {
    border-radius: 0.5rem;
    background-color: var(--naval-blue-color);
    color: white;
    font-weight: 450;
    font-family: 'Roboto', sans-serif;
    border-style: none;
    font-size: 1.2rem;
    flex: 1;
    padding: 1.2%;
  }
  
  .contenedor-table-catalogo {
    margin: 0 auto;
    display: flex;
    padding: 2%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .contenedor-table-catalogo table {
    width: 100%;
  }
  
  /*---------------------------------- */

  .search-card{
    display: flex;
    border-radius: 15px;
    background-color: aliceblue;
    padding: 2%;
    align-items: flex-start;
    justify-content: space-around;
  }

  .search-card-col-img{
    flex-basis: 40%;
  }

  .search-card-col-img img{
    width: 100%;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
  }
 
  

.search-card-col-info li span{
  background-color: var(--naval-blue-color);
  color: white;

}

.search-card-col-info{
  width: 60%;
}

.search-card-col-info table{
  width: 100%;
  display: flex;
}

.search-card-col-info table thead{
  flex-basis: 40%;
}

.search-card-col-info table thead tr{
  display: flex;
  flex-direction: column;
}

.search-card-col-info table tbody {
  width: 60%;
}

.search-card-col-info table tbody tr{
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 700px) {
  .search-card-col-img img:hover {
    -webkit-transform: scale(1.3); 
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}
}