.admin-account{
    display: flex;
    justify-content: center;
}

.admin-account-form{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.admin-account-form label{
    display: flex;
    flex-direction: column;
}

.admin-account-form input{
  
}